#map {
height: 500px;
width: 100%;
display: flex;
padding: 0
}

.controls {
width: 50%;
position: relative;
align-content: center;
}

#pac-input {
width: 100%;
text-align: center;
margin-bottom: 1%;
}